<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id = "app">
        <a v-if="flag">Vue.js Ex</a>
        <ul>
            <li v-for="system in systems">{{system}}</li>
        </ul>
        <p v-show="flag">show Test</p>
        <h5 v-bind:id="uid">Bind Test</h5>
        <button v-on:click = "popupAlert">v-on Test('alert')</button>
    </div>
    <script src = "https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                flag : true,
                systems : ['a', 'b', 'c'],
                uid: 10
            },
            methods: {
                popupAlert : function(){
                    return alert('v-on test');
                }
            }
        });
    </script>
</body>
</html>